.divider16em{
    margin-top: 16em;
}

.divider8em{
    margin-top: 8em;
}

.divider4em{
    margin-top: 4em;
}

.divider2em{
    margin-top: 2em;
}

.page1{
    display: none;
}

.page2 {
    display: none;
}

.page3{
    display: none;
}

.page4{
    display: none;
}

.testPage{

}

.testAccordion {
    display: none;
}

.status0{
    background-color: lightgray;
}

.status1{
    background-color: green;
}

.status2{
    background-color: red;
}

.status3{
    background-color: orangered;
}

.status4{
    background-color: orangered;
}

#accordion .card .card-header .mb-0 .btn {
    width: 100%;
}

.btn {
    width: 100%;
}